@model UserCredential

@{
    Layout = "~/Views/Shared/RegisterLayout.cshtml";
}



<div class="card col-md-12">
    <div class="card-body">
        <ul id="progressbar">
            <li id="account"><strong>User Info</strong></li>
            <li id="personal"><strong>Contact Info</strong></li>
            <li id="payment"><strong>Document Info</strong></li>
            <li class="active" id="confirm"><strong>User Credential</strong></li>
        </ul>
    </div>
</div>

<div class="card">
    
    <div class="card-body">

        <div class="pt-4 pb-2">
            @*<h5 class="card-title text-center pb-0 fs-4">step 4</h5>*@
            <h2 class="text-center">Enter your Credential to create account</h2>
        </div>

        <form id="form" method="post" asp-action="CreateUserCredential" asp-controller="Account">
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <label class="form-label">UserName<span>*</span></label>
                        <input type="text" asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label class="form-label">Passwords<span>*</span></label>
                        <input type="text" asp-for="passwordHash" class="form-control" />
                        <span asp-validation-for="passwordHash" class="text-danger"></span>
                    </div>
                </div>
            </div>


           

            @if (@ViewBag.Id != null)
            {
                <div>
                    <input type="hidden" name="UserId" value="@ViewBag.Id" />
                </div>
            }
           

            <div class="col-12">
                <label class="form-label">Confirm Password<span>*</span></label>
                <input type="text" name="confirmPassword" class="form-control" id="lastName" required>
                <span asp-validation-for="confirmPassword" class="text-danger"></span>
            </div>

            <div class="col-12">
                <button class="btn btn-primary w-30 mt-3 mb-2" type="button" onclick="location.href='@Url.Action( "getDocument", "Account", new { Id = @ViewBag.docId })'">previous</button>
                <button class="btn btn-primary w-30 mt-3 mb-2 ms-5" type="submit">Next</button>
            </div>


        </form>

    </div>
</div>
@section Scripts{
    <script src="~/js/usercredentialvalidation.js"></script>
}