@model List<Category>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button type="button" onclick="location.href='@Url.Action("CreateCategoryPage","Review")'" class="btn btn-primary mb-2">Add Category</button>

<table class="table datatable">
    <thead>
        <tr>
            <th scope="col">Category Id</th>
            <th scope="col">Category Name</th>
            <th scope="col">Categor Marks</th>
            <th scope="col">Created Date</th>
            <th scope="col">Created By</th>
            <th scope="col">Action</th>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item?.CategoryId</th>
                <td>@item?.CategoryName</td>
                <td>@item?.CategoryMarks</td>
                <td>@item?.CreatedDate</td>
                <td>@item?.CreatedBy</td>
                <td><a href="@Url.Action("Edit", "Review", new {CategoryId=@item?.CategoryId})" class="btn btn-primary">Edit</a> <a href="@Url.Action("DeleteCategory", "Review", new {CategoryId=@item?.CategoryId})" class="btn btn-danger">Delete</a></td>
            </tr>

        }

    </tbody>
</table>
<!-- End Table with stripped rows -->